$def with(datos)
<h1>Eliminar Producto</h1>


<form method="POST">
  <label for="codigo">Codigo</label>
  <input type="text" readonly="true" value="$datos.codigo" id="codigo" name="codigo">
  <br>
  <label for="nombre">Nombre</label>
  <input type="text" readonly="true" value="$datos.nombre" id="nombre" name="nombre">
  <br>
  <label for="marca">Marca</label>
  <input type="text" readonly="true" value="$datos.marca" id="marca" name="marca">
  <br>
  <label for="categoria">Categoria</label>
  <input type="text" readonly="true" value="$datos.categoria" id="categoria" name="categoria">
  <br>
  <label for="precio">Precio</label>
  <input type="text" readonly="true" value="$datos.precio" id="precio" name="precio">
  <br>
  <button type="submit" class="btn btn-primary">Eliminar</button>
</form>
<br><br>
<a href="/productos"><button type="button" name="button" class="btn btn-primary">Cancelar</button></a>
