$def with(datos)
<h1>Visualizar Producto</h1>


<h3>Codigo:</h3><input type="text" readonly="true" value="$datos.codigo" id="codigo" name="codigo">
<br>
<h3>Nombre:</h3><input type="text" readonly="true" value="$datos.nombre" id="nombre" name="nombre">
<br>
<h3>Marca: </h3><input type="text" readonly="true" value="$datos.marca" id="marca" name="marca">
<br>
<h3>Categoria:</h3><input type="text" readonly="true" value="$datos.categoria" id="categoria" name="categoria">
<br>
<h3>Precio:</h3><input type="text" class="form-control"  readonly="true" value="$datos.precio" id="precio" name="precio">
<br>
