<h1>Insert</h1>

<form method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="Nombre">
    <br>
    <label for="apellidos">Apellidos</label>
    <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos">
    <br>
    <label for="correo">Correo</label>
    <input type="email" id="correo" name="correo" placeholder="Correo">
    <br>
    <label for="telefono">Telefono</label>
    <input type="text" id="telefono" name="telefono" placeholder="Telefono">
    <br>
    <button type="submit" class="btn btn-primary">Insertar Cliente</button>
</form>
<a href="/clientes"><button type="button" name="button" class="btn btn-primary">Cancelar</button></a>
