$def with(datos)
<h1>Visualizar Cliente</h1>


<h3>ID:</h3><input type="text" readonly="true" value="$datos.id" id="id" name="id">
<br>
<h3>Nombre:</h3><input type="text" readonly="true" value="$datos.nombre" id="nombre" name="nombre">
<br>
<h3>Apellidos: </h3><input type="text" readonly="true" value="$datos.apellidos" id="apellidos" name="apellidos">
<br>
<h3>Correo:</h3><input type="text" readonly="true" value="$datos.correo" id="correo" name="correo">
<br>
<h3>Telefono:</h3><input type="text" class="form-control"  readonly="true" value="$datos.telefono" id="telefono" name="telefono">
<br>
